//colors
$red: #E01F3D;
$grey: #666;
$black: #292929;
$white: #fff;

$containerWidth: 940px;
$baseFontSize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;


//z-indexes
$z-fixed-menu: 100;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Play:wght@400;700&display=swap');

//media
@import './media';

//normalize
@import './normalize';

//setups
@import './layout';

//blocks
@import './blocks/hero';
@import './blocks/header';
@import './blocks/hamburger';
@import './blocks/btn';
@import './blocks/features';
@import './blocks/feature';
@import './blocks/section';
@import './blocks/headline';
@import './blocks/benefits';
@import './blocks/benefit';
@import './blocks/reviews';
@import './blocks/interactive-avatar';
@import './blocks/form';
@import './blocks/radio';

@import './blocks/footer';
@import './blocks/socials';

@import './blocks/fixed-menu';