$containerWidth: 940px;
$baseFontSize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$grey: #666666;
$black: #292929;

@import "media";

//z-indexes 
$z-fixed-menu: 100;

//normalize
@import 'normalize';

//setups
@import 'https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap';
@import 'layout';

//block
@import 'block/header';
@import 'block/menu';
@import 'block/hamburger';
@import 'block/hero';
@import 'block/features';
@import 'block/feature';
@import 'block/btn';
@import 'block/section';
@import 'block/headline';
@import 'block/benefits';
@import 'block/benefit';
@import 'block/benefits__section';
@import 'block/reviews';
@import 'block/interictive-avatar';
@import 'block/form';
@import 'block/radio';
@import 'block/fixed-menu';
@import 'block/map';
@import 'block/footer';
@import 'block/socialmedia';