.btn {
    display: inline-flex;
    padding: rem(20px) rem(42px);
    background: $red;
    border-radius: rem(100px);
    color: white;
    font-family: "Play", Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    line-height: 1;
    cursor: pointer;

    &:hover {
        background: #CA1B36;
    }

    &--tsp {
        font-weight: 400;
        background: transparent;
        text-transform: none;
        
        &:hover {
            background: none;
            color: $red;
        }
    }
}