.feature {
    display: flex;
}

.feature__icon {
    margin-right: rem(12px);
    
    img {
        width: rem(41px);
    }
}

.feature__text {
    font-family: "Play", Arial, Helvetica, sans-serif;
    max-width: rem(114px);
    line-height: 1.22;
}