.order-section {
    background-color: #181818;
    background: url(../img/decor/bg-form.png) center center no-repeat;
    color: $white;
}

.form {
    display: flex;
    margin-top: rem(56px);
}

.form__col {
    flex: 1;
    margin-right: rem(26px);

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(12px);

    &:last-child {
        margin-bottom: 0;
    }
}

.form__block {
    flex: 1;
    margin-right: rem(16px);
    
    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    margin-top: rem(3px);
    padding: rem(16px) rem(12px);
    width: 100%;
    border: rem(3px) solid transparent;
    border-radius: rem(4px);
    outline: none;

    &:focus {
        border-color: $red;
    }

    &--textarea {
        min-height: rem(170px);
        resize: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.form__btns {
    margin-top: rem(50px);
}