.hero {
    padding: 24px 0 65px;
    background-color: #F5F5F5;
    height: 100vh;
    min-height: 650px;
    position: relative;
    
    &:before {
        content: url(../img/decor/Rectangle\ 14.svg);
        position: absolute;
        right: 28%;
        bottom: -26px;
    }
}

.hero__container {
    background: url(../img/decor/Ellipse\ 5.png) right center / 50% auto no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hero__title-section {
    width: 46%;
    margin-top: 94px;
}

.hero__main-title {    
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.1;
    text-transform: uppercase;  
}

.hero__title-desc {
    margin-top: 20px;
    font-size: 21px;
    line-height: 1.2;
    padding-right: 20%;
}

.hero__btn {
    margin-top: 36px;
}

.hero__icons-section {
    margin-top: 68px;
}