.hero {
    background-color: #F5F5F5;
    height: 100vh;
    min-height: rem(650px);
    position: relative;
    
    &:before {
        content: url(../img/decor/Rectangle\ 14.svg);
        position: absolute;
        right: 28%;
        bottom: rem(-26px);
    }
}

.hero__container {
    padding: rem(24px) 0 rem(65px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../img/decor/Ellipse\ 5.png) right center / 50% auto no-repeat;
    height: 100%;
}

.hero__title-section {
    width: 46%;
    margin-top: rem(94px);
}

.hero__main-title {    
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: rem(48px);
    line-height: 1.1;
    text-transform: uppercase;  
}

.hero__title-desc {
    margin-top: rem(20px);
    font-size: rem(21px);
    line-height: 1.2;
    padding-right: 20%;
}

.hero__btn {
    margin-top: rem(36px);
}

.hero__icons-section {
    margin-top: rem(68px);
}