.hero {
    background-color: #F5F5F5;
    height: 100vh;
    min-height: rem(650px);
    position: relative;
    
    &:before {
        content: url(../img/decor/Rectangle\ 14.svg);
        position: absolute;
        right: 20%;
        bottom: rem(-26px);
    }
}

.hero__container {
    padding: rem(24px) 0 rem(65px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../img/decor/Ellipse\ 5.png) right center / 50% auto no-repeat;
    height: 100%;

    @include tablets {
        background: none
    }
}

.hero__title-section {
    width: 46%;
    margin-top: rem(94px);
    
    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0;
        
        &:before {
            content: "";
            width: 316px;
            height: 316px;
            background: url(../img/decor/Ellipse\ 5.png) center center / contain no-repeat;
        }
    }
}

.hero__main-title {    
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: rem(48px);
    line-height: 1.1;
    text-transform: uppercase;  
    
    @include tablets {
        padding: 0 5%;
        margin-top: rem(68px);
    }

    @include phones {
        font-size: rem(34px);
    }
}

.hero__title-desc {
    margin-top: rem(20px);
    font-size: rem(21px);
    line-height: 1.2;
    padding-right: 20%;

    @include tablets {
        padding: 0 23%;
    }

    @include phones {
        padding: 0 17%;
    }
}

.hero__btn {
    margin-top: rem(36px);
}

.hero__icons-section {
    margin-top: rem(68px);

    @include tablets {
        display: none;
    }
}