.reviews-section {
    position: relative;

    &:before {
        content: url(../img/decor/Ellipse\ 7.svg);
        position: absolute;
        left: 25%;
        bottom: rem(-26px);
    }
}

.reviews__display {
    min-height: 348px;
    padding: rem(42px) rem(26px);
    margin-top: rem(30px);
    background: #F8FAF9;
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        width: rem(86px);
        height: rem(86px);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-65px);
        background: $white;
    }

    @include tablets {
        padding: rem(56px) rem(15px);

        &:before {
            width: rem(86px);
            height: rem(97px);
        }
    }
}

.reviews__dispaly-inner {
    display: flex;

    @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.reviews__avatar {
    width: rem(253px);
    height: rem(264px);

    @include tablets {
        width: rem(130px);
        height: rem(130px);
    }
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__content {
    margin-left: rem(40px);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablets {
        margin-left: 0;
    }
}

.reviews__title {
    font-size: rem(24px);
    font-weight: 700;

    @include tablets {
        margin-top: rem(32px);
    }
}

.reviews__text {
    margin-top: rem(22px);
    color: $grey;
    line-height: 1.22;
}

.reviews__author {
    margin-top: rem(36px);
    font-size: rem(18px);
    font-weight: 700;
}

.reviews__switcher {
    margin-top: rem(9px);
    display: flex;
    justify-content: center;
}

.reviews__switcher-item {
    margin-right: 1px;
}