.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature__icon {
  margin-right: 12px;
}
.feature__icon img {
  width: 41px;
}

.feature__text {
  font-family: "Play", Arial, Helvetica, sans-serif;
  max-width: 114px;
  line-height: 1.22;
}