.benefit {
  text-align: center;
}

.benefit__img-wrapper {
  position: relative;
  display: inline-block;
  height: rem(126px);
  width: rem(126px);
  background-color: #F2F5F4;
  border-radius: 50%;
  margin-bottom: rem(12px);
}

.benefit__icon {
  position: absolute;
  height: rem(68px);
  width: rem(68px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.benefit__title {
  font-size: rem(24px);
  font-weight: bold;
}

.benefit__desc {
  padding: 0 rem(10px);
  color: $grey;
}