.benefit {
  text-align: center;
}

.benefit__img-wrapper {
  position: relative;
  display: inline-block;
  height: 126px;
  width: 126px;
  background-color: #F2F5F4;
  border-radius: 50%;
  margin-bottom: 12px;
}

.benefit__icon {
  position: absolute;
  height: 68px;
  width: 68px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.benefit__title {
  font-size: 24px;
  font-weight: bold;
}

.benefit__desc {
  padding: 0 10px;
  color: $grey;
}