.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  &:before {
    content: url(../../img/Combined\ shape\ 2204.png);
    position: absolute;
    top: 58px;
    right: 0;
    transform: translateX(50%);
    
    
  }

  &:first-child {
    padding: 0;
  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }
}