.btn {
	display: inline-block;
	padding: 19px 41px;
	background: #E01F3D;
	color: #fff;
  border-radius: 100px;
	font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
	border: none;

	&--transparent {
		background: transparent;
		text-transform: none;
	}	
}