.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: $z-fixed-menu;
}

.fixed-menu__item {
  margin-bottom: rem(5px);

  &--active {
    .fixed-menu__link {
      border-color: #E01F3D;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.fixed-menu__link {
  height: rem(16px);
  width: rem(16px);
  border-radius: 50%;
  border: rem(1px) solid transparent;
  display: block;
  position: relative;

  &:before {
    content: "";
    display: block;
    height: rem(6px);
    width: rem(6px);
    border-radius: 50%;
    background-color: #E01F3D;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}