.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
}

.phone-number.header__phone-number {

  @include tablets {
    display: none;
  }
}

.phone-number {
  display: flex;
  align-items: center;

  font-family: 'Play', Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: rem(18px);
  
  .phone-number__icon {
    margin-right: rem(6px);
    flex-shrink: 0;
  }
  
}

.phone-number__icon-elem {
  width: rem(14px);
  height: rem(14px);
}

.phone-number__text {
  white-space: nowrap;
}