.interactive-avatar {
  height: rem(74px);
  width: rem(74px);
  border: rem(4px) solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  &--active {
    border-color: #E01F3D;
  }

  @include tablets {
    height: rem(85px);
    width: rem(85px);
  }
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .interactive-avatar__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}