.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 16px;

  &--checkbox {
    .radio__visible {
      border-radius: 5px;

      &:before {
        background: url("../../img/checkmark.png") center center no-repeat;
      }
    }

    
  }

  &:last-child {
    margin-right: 0;
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &:before {
      display: block;
    }
  }
}

.radio__visible {
  height: 25px;
  width: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;

  &:before {
    content: "";
    height: 13px;
    width: 13px;
    background: #E01F3D;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}