.section__title {
  text-transform: uppercase;
  font-weight: bold;
  color: $black;
}

.reviews__display {
  background-color: #F8FAF9;
  padding: 42px;
  margin-bottom: 15px;
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 90px;
    width: 90px;
    background: #fff;
    border-radius: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: -65px;
  }
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  height: 264px;
  width: 263px;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  margin-left: 40px;
  flex: 1;
}

.reviews__title {
  margin-bottom: 27px;
  font-size: 24px;
  font-weight: bold;
  color: $black;
}

.reviews__text {
  margin-bottom: 38px;
  color: $grey;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__section {
  position: relative;

  &:before {
    content: url(./img/Ellipse\ 7.png);
    position: absolute;
    bottom: -25px;
    left: 18%;
  }
}